@import "../../../styles/mixins";

footer {
  color: var(--footer-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: space-around;
  @include sm {
    justify-content: space-between;
  }
  align-items: center;
  background-color: var(--bg-footer-color);
  height: 10rem;
  border-top: 0.15rem solid var(--footer-border-color);
  z-index: 5;
  padding: 1rem;
  button {
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    svg {
      transform: translateY(-0.15rem);
      transition: transform var(--transition-duration);
    }
    &.visible {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
.menu-wrapper {
  position: relative;
  height: 0;
}
.menu {
  position: absolute;
  overflow: hidden;
  background-color: white;
  bottom: 2rem;
  right: 1rem;
  max-height: 10rem;
  transition: max-height var(--transition-duration) ease-in-out;
  &.hidden {
    max-height: 0;
  }
}
.logo {
  display: none;
  @include lg {
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 100;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.05em;
      background-color: var(--footer-color);
      width: 1.75em;
      top: 56%;
    }
    &::before {
      left: -2em;
    }
    &::after {
      right: -2em;
    }
  }
}

.awesome {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 1.75rem;
  width: 4.4em;
  height: 4.4em;
  padding: 0.1em 2em 0 0.4em;
  font-weight: 100;
  aspect-ratio: 1;
  text-wrap: wrap;
  color: var(--footer-color);
  transition: color var(--transition-duration);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--footer-color);
    transition: border, transform var(--animation-duration) ease-in-out;
    margin: -0.1em 0 0 -0.4em;
  }

  &:hover {
    color: white;
    &::before {
      transform: rotate(180deg);
      border: 1px solid var(--hover-color);
    }
  }
}
