<div class="wrapper">
  <h1>Nagłówek H1</h1>
  <div class="blocks">
    <app-block header="blok pierwszy">
      <app-radiobuttons
        [(selectedOption)]="option"
        [options]="options"
      ></app-radiobuttons>
    </app-block>
    <app-block header="blok drugi">
      <button type="button">Zastąp</button>
      <button type="button">Doklej</button>
    </app-block>
    <app-block
      header="blok z długą nazwą która sama się przytnie dzięki stylom"
    >
      <app-article></app-article>
    </app-block>
  </div>
</div>
