<div class="wrapper">
  <h1>Nagłówek H1</h1>
  <div class="blocks">
    <app-block header="blok pierwszy">
      <app-radiobuttons
        [(selectedOption)]="option"
        [options]="options"
      ></app-radiobuttons>
    </app-block>
    <app-block header="blok drugi">
      <button type="button" class="btn" (click)="replaceArticle()">
        Zastąp
      </button>
      <button type="button" class="btn" (click)="addArticle()">Doklej</button>
    </app-block>
    <app-block
      header="blok z długą nazwą która sama się przytnie dzięki stylom"
    >
      @for (article of renderedArticles; track article.id) {
      <article>{{ article.content }}</article>
      }
    </app-block>
  </div>
</div>
<app-alert-modal *ngIf="isModalVisible" (close)="hideAlert()">{{
  alertMessage
}}</app-alert-modal>
