@import "../../styles/mixins";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  .blocks {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    @include sm {
      flex-flow: row wrap;
    }
    gap: 1rem;

    app-block {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      min-width: 90%;
      max-width: 100%;
      flex: 1;
      padding-top: 3rem;

      @include sm {
        min-width: 40%;
      }
      @include lg {
        min-width: 30%;
      }
    }
    button {
      background-color: transparent;
      @include gradientAnimation(
        var(--hover-color),
        var(--hover-color-2),
        var(--transition-duration)
      );
      border: 0.1rem solid var(--button-border-color);
      border-radius: 0.2rem;
      padding: 1rem 4rem;
      width: min-content;
      font-size: large;
      font-weight: 700;
      color: var(--button-color);
      text-transform: uppercase;
      transition: color var(--transition-duration) ease;
      &:hover {
        color: white;
      }
    }
  }
}
article {
  color: var(--article-color);
  text-align: center;
  font-weight: 100;
}
