:root {
  --bg-body-color: #2a2d36;
  --bg-footer-color: #15161a;
  --bg-header-color: #0b0c10;

  --body-color: white;
  --header-color: white;
  --footer-color: grey;
  --article-color: #a3a8b6;
  --button-color: #a3a8b6;

  --footer-border-color: black;
  --button-border-color: white;

  --header-logo-bg-color: #303030;

  --hover-color: ##fe9e22;
  --hover-color-2: ##ce7400;
}
