:root {
  --bg-body-color: #2a2d36;
  --bg-footer-color: #15161a;
  --bg-header-color: #0b0c10;
  --bg-popover-color: white;

  --body-color: white;
  --header-color: white;
  --footer-color: grey;
  --article-color: #a3a8b6;
  --button-color: #a3a8b6;
  --popover-color: black;

  --footer-border-color: black;
  --inactive-em-border-color: grey;
  --button-border-color: white;

  --shadow-color: black;

  --header-logo-bg-color: #303030;

  --hover-color: #fe9e22;
  --hover-color-2: #ce7400;

  --transition-duration: 120ms;
  --animation-duration: 500ms;
}
